.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.modal {
    background-color: var(--dropdown-background);
    border: 1px solid var(--dropdown-border);
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    max-width: 90%;
    color: var(--dropdown-text-color);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.modal h2 {
    margin-top: 0;
    margin-bottom: 20px;
    color: var(--dropdown-text-color);
}

.modal input {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid var(--dropdown-border);
    border-radius: 6px;
    background-color: transparent;
    color: var(--dropdown-text-color);
}

.modal input:focus {
    outline: none;
    border-color: var(--dropdown-hover-background);
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 15px;
}

.cancel-btn,
.update-password-btn {
    padding: 8px 14px;

    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    color: var(--dropdown-hover-text-color);
    background-color: var(--dropdown-hover-background);
    transition: background-color 0.3s ease;
}

.cancel-btn:hover,
.update-password-btn:hover {
    filter: brightness(1.1);
}

.error {
    color: #ff4d4f;
    font-size: 14px;
    margin-bottom: 8px;
}

.success {
    color: #52c41a;
    font-size: 14px;
    margin-bottom: 8px;
}

.input-error {
    color: #ff4d4f;
    font-size: 13px;
    margin-top: -32px;
    height: 50px;
    /* margin-bottom: 10px; */
}